body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

.seats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
}

.row {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    margin-bottom: 10px;
}
.row + .row {
    margin-top: 40px; /* 1번째 줄과 2번째 줄 간격을 40px로 설정 */
}
.round-seats {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .seats-container {
        align-items: flex-start; /* 왼쪽 정렬 */
    }

    .row {
        justify-content: flex-start; /* 왼쪽 정렬 */
    }

    .round-seats {
        margin-top: 40px;
    }
}

.round-seats .seat {
    width: 34px;
    height: 33px;
    background-color: #ccc;
    margin-right: 1px; /* 각 좌석 사이 간격 설정 */
    cursor: pointer;
    border-radius: 50%; /* 모서리를 둥글게 만들기 */
}

.round-seats .gap {
    width: 40px; /* 5번째와 6번째 간격 크기 설정 */
}
.seat {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    margin-right: 5px; /* 각 좌석 사이 간격 설정 */
    cursor: pointer;
}

.gap {
    width: 40px; /* 5번째와 6번째 간격 크기 설정 */
}

/* 좌석 클릭 시 보라색으로 변경 */
.seat.selected {
    background-color: #9400D3;
    color: #fff;
}

.name-input-container {
    margin-top: 20px;
}

#name-input {
    padding: 5px;
    margin-right: 10px;
}

#submit-btn {
    padding: 5px 10px;
}