<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %} <!--- 이걸해줘야 url에 http없어도 사진 업로드 가능--->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-DOXMLfHhQkvFFp+rWTZwVlPVqdIhpDVYT9csOnHSgWQWPX0v5MCGtjCJbY6ERspU" crossorigin="anonymous">
    <!-- Google bootstrap-->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    <!-- Jquery-->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        input:focus {
            outline: none;
            box-shadow: none
        }
        .modal_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none; /*flex 에서 none으로 바꾸면 모달이 뒤로감 사용자가 +누르기 전에눈 none 누르고 나서는 flex*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
    }

    .modal_window {
        background: white;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 800px;
        height: 600px;
        position: relative;
        padding: 10px;

    }
    </style>
    <title>학식 미완성</title>
</head>
<body style="background-color: #cbb7d7">

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:fixed;width: 100%">
    <div class="container-fluid" style="justify-content:space-between;flex-direction: row;flex-wrap:nowrap;background-color: #7c7daf">
        <a class="navbar-brand"  href="/main"><img style="width:75px"
                                     src="https://postfiles.pstatic.net/MjAyMzA4MDNfMjg1/MDAxNjkxMDMxMzc1Mjk4.kmN3fxRhNqzI_g3gm6dOw6DrkR5AiI3i4WNqahzjcaQg._O9F6Ec6t4uZFdj9-JEsUoeldeB41Svp22r1dnfOVD8g.PNG.somin030805/sw_last_logo.png?type=w966"></a>



        <div style="display: flex">


            <a  href="/main" style="color: #cc99da"><span class="material-icons" style="padding-right: 10px"  >home</span></a>
            <span id="nav_bar_add_box" class="material-icons-outlined"style="padding-right: 10px">add_box</span>





            <div class="dropdown">
                <a  href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <div  class="box" style="width: 25px;height:25px">
                        <img class="profile"
                             src="{% get_media_prefix %}{{ user.profile_image }}">
                    </div>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/content/profile">프로필</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                </ul>
            </div>

        </div>

    </div>

</nav>


<div style="display:flex; flex-direction: row;  text-align: center; justify-content: center;padding-top: 100px">
    <div style="display: flex;flex-direction: column">
        <div style="width:600px;min-width:600px; height:1000px">
       <!---이거 두면 옆에 친구 목록 뜸margin-right: 300px--->
            <div style="border:solid 1px gray; background-color: white">
                <!----여기서부터 피드박스--->
                {% for feed in feeds %}

                    <div class="feed_box">
                     <div style="margin-bottom: 10px">

                        <div style="display: flex;flex-direction: row;align-items: center;flex-direction: row;margin-left: 20px">
                            <div class="box" style="width: 50px;height:50px">
                                <img class="profile"
                                     src="{% get_media_prefix %}{{ feed.profile_image }}">
                            </div>
                            <div>
                                {{ feed.nickname }}
                            </div>
                        </div>
                        <div><img style="width:100%"
                                  src="{% get_media_prefix %}{{ feed.image }}">
                        </div>
                        <div style="display: flex;flex-direction: row;justify-content: space-between;flex-direction: row">
                            <div style="margin-left: 20px; display: flex;flex-direction: row">
                                <span id="favorite_{{ feed.id}}" feed_id="{{ feed.id }}" class="favorite material-icons-outlined" style="color: red;cursor:pointer">{% if feed.is_liked %}favorite{% else %}favorite_border{% endif %}</span>

                            </div>

                          
                        </div>
                         <div style="margin-left: 20px;text-align: left;font-size: 12px"> 아이바오 <b>외 {{ feed.like_count }}명이 </b> 좋아합니다</div>
                        <div style="margin-left: 20px;text-align: left;font-size: 12px"> <b>{{ feed.nickname }} </b> {{ feed.content }} </div>
                         <div id="reply_list_{{ feed.id }}">
                             {% for reply in feed.reply_list %}
                                 <div style="margin-left: 20px;text-align: left;font-size: 14px"><b>{{ reply.nickname }}</b>{{ reply.reply_content }}</div>

                             {% endfor %}
                         </div>




                         <div style="display: flex; flex-direction: row;border-top: solid 1px gray;justify-content: center;align-items: center">
                            <input id="reply_{{ feed.id }}" type="text" class="form-control" style="box-shadow: none" placeholder="댓글 달기..">
                            <div feed_id="{{ feed.id }}" class="upload_reply"   style="width: 50px;color: mediumorchid;font-weight: bold">
                                게시
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <!----여기까지 피드박스-->
            </div>
        </div>
        </div>






    <div style="width:400px; height:1000px; position: fixed;left:62%">
        <div style="display: flex;flex-direction:column;align-items:center; margin-left: 20px ">
            <div style="display: flex;flex-direction:row">
                <div class="box" style="width: 70px;height:70px;display: flex;flex-direction:row">
                    <img class="profile"
                         src="{% get_media_prefix %}{{ user.profile_image }}">
                </div>

                    <div style="margin-left: 10px;text-align: left">
                        <div style="font-weight: bold">
                           {{ user.nickname }}
                        </div>
                        <div style="color: gray">
                            {{ user.name }}
                        </div>
                    </div>
                </div>
        </div>
        
     </div>
        </div>
    </div>
</div>



<!--첫번째 모달--->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div style=" display: flex;flex-direction: row;justify-content: space-between">
            <div style="width: 40px">

            </div>
            <div>
                새 이미지 업로드
            </div>
            <div style="width: 40px">
               <span class="modal_close material-icons">close</span>
            </div>
        </div>
        <div class="img_uproad_space" style="border-top:solid 1px gray;width:778px;height:540px;margin-top:10px">

        </div>
    </div>
</div>
<!--두번째 모달-->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex;flex-direction: row;justify-content: space-between">
            <div style="width: 40px">

            </div>
            <div>
                새 이미지 업로드
            </div>
            <div style="width: 40px">
               <span class="modal_close material-icons">close</span>
            </div>
        </div>

        <div style="border-top:solid 1px gray; display: flex;flex-direction: row;margin-top:10px">
            <div class="img_uproad_space" style="width:500px;height:540px">

        </div>
            <div style="border-left: solid 1px">
                <div>
                    <textarea id="input_feed_content" class="form-control" style="width: 276px;height: 400px" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <button id="feed_create_button" type="button" class="btn btn-primary" style="width: 100%;background-color: mediumslateblue">
                    공유하기
                </button>
            </div>

        </div>
    </div>
</div>
<!---자바스크립트; add box눌렀을때 반응--->
<script>

    $(".favorite").click(function(event){
        let feed_id=event.target.attributes.getNamedItem('feed_id').value;
        let favorite_id=event.target.id;
        console.log(favorite_id);
        let favorite_text=$.trim($('#'+favorite_id).html());
        console.log(favorite_text);
        if(favorite_text=='favorite') {
            $('#' + favorite_id).html('favorite_border');
        }else{
            $('#' + favorite_id).html('favorite');
        }

        $.ajax({url:"/content/like",
            data:{
                feed_id:feed_id,
                favorite_text:favorite_text,
            },
            method:"POST",
            success:function (data){
                console.log("성공");
            },
            error:function(request,status,error){
                console.log("에러")
            },
            complete:function(){
                console.log("완료");

            }

        })


    })
    $(".upload_reply").click(function(event){
        let feed_id=event.target.attributes.getNamedItem('feed_id').value;
        let reply_id='reply_'+feed_id;
        let reply_content=$('#'+reply_id).val();

        if(reply_content.length<=0){
            alert("댓글을 입력하세요");
            return 0;
        }
         $.ajax({
            url:"/content/reply",
            data:{
                feed_id:feed_id,
                reply_content:reply_content,

            },
            method:"POST",
            success:function (data){
                console.log("성공");
                alert("댓글 성공");
                $("#reply_list_"+feed_id).append("<div style='margin-left: 20px;text-align: left;font-size: 14px'><b>{{ user.nickname }}</b>"+reply_content+"</div>")
                {#  location.replace('/main');#}
            },
            error:function(request,status,error){
                console.log("에러")
            },
            complete:function(){
                console.log("완료");
                $('#'+reply_id).val('');

            }
        });


    });



    $(".modal_close").click(function (){

        $('#first_modal').css({
            display:'none',
        });
        $('#second_modal').css({
            display:'none',
        });

    });
    let files;

    $('#nav_bar_add_box').click(function (){
        $('#first_modal').css({
            display:'flex',
        });
        $(document.body).css({
            overflow:'hidden'
        });/* + 눌렀을때 스크롤 없애기*/
    })/* .은 전체이고 #은 id부분만이라는 의미*/
    $('#feed_create_button').click(function(){
        alert("공유하기");
        let file=files[0];
        let image=files[0].name;
        let content=$('#input_feed_content').val();
        //let user_id="{{ user.nickname }}";
        //let profile_image="{{ user.profile_image }}";


        let fd=new FormData();
        fd.append('file',file);
        fd.append('image',image);
        fd.append('content',content);
        //fd.append('user_id',user_id);
        //fd.append('profile_image',profile_image);

        /*폼데이터에 피드를 넣음*/
        $.ajax({
            url:"/content/upload",
            data:fd,
            method:"POST",
            processData:false,
            contentType:false,
            success:function (data){
                console.log("성공");
            },
            error:function(request,status,error){
                console.log("에러")
            },
            complete:function(){
                console.log("완료");
                location.replace("/main");
            }
        })
    });

    $('.img_uproad_space')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e){
        e.stopPropagation();
        e.preventDefault();
        if (e.type == "dragover") {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-20px"
            });
        } else {
            $(e.target).css({
                "background-color": "orange",
                "outline-offset": "-10px"
            });
        }
    }

    function uploadFiles(e){
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer = e.originalEvent.dataTransfer; //2
        files = e.target.files || e.dataTransfer.files;//파일 업로드 해주는 부분

        if (files.length > 1) {
            alert('하나만 올려라.');
            return;
        }
        if (files[0].type.match(/image.*/)) {
            $('#first_modal').css({
            display:'none',
        });
            $('#second_modal').css({
            display:'flex',
        });
            $('.img_uproad_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "100%",
                "background-repeat":"no-repeat",
                "background-position":"center"
            });
        }else{
            alert('이미지가 아닙니다.');
            return;
        }


    }
</script>
</body>
</html>